<div class="row mt-5">
  <form (ngSubmit)="onSubmit()" #FormExercice="ngForm">
    <div class="mb-3">
      <div  class="col-6 mx-auto">
        <input class="form-control"
               placeholder="nom exercice"
               type="text"
               required
               minlength="3"
               [(ngModel)]="exercice.name"
               [name]="'Name'"
               [class.is-invalid]="exerciceNameInput.touched && exerciceNameInput.invalid"
               [class.is-valid]="exerciceNameInput.touched && exerciceNameInput.valid"
               #exerciceNameInput="ngModel"
        />
      </div>
      <div class="col-6 alert-danger" *ngIf="exerciceNameInput.invalid && (exerciceNameInput.touched || exerciceNameInput.dirty)">
        <div *ngIf="exerciceNameInput.errors?.required">
          Name cannot be empty
        </div>
        <div *ngIf="exerciceNameInput.errors?.minlength">
          Name cannot be smaller than 3
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="col-6 mx-auto">
        <input class="form-control"
               placeholder="Description"
               type="textarea"
               required
               [(ngModel)]="exercice.description"
               [name]="'Description'"
               [class.is-invalid]="descriptionInput.touched && descriptionInput.invalid"
               [class.is-valid]="descriptionInput.touched && descriptionInput.valid"
               #descriptionInput="ngModel"
        />
      </div>
   <!--   <div class="col-6 alert-danger" *ngIf="descriptionInput.invalid && (descriptionInput.touched || descriptionInput.dirty)">
        <div *ngIf="descriptionInput.errors?.required">
          Description cannot be empty
        </div>
        <div *ngIf="descriptionInput.errors?.pattern">
          Description cannot contains special characters
        </div>
      </div>-->
    </div>

    <div class="mb-3">
      <div class="col-6 mx-auto">
        <select class="form-select"  [(ngModel)]="area" [name]="'MuscleArea'">
          <option *ngFor="let area of muscleArea"  [ngValue]="area.id" >{{area.name}}</option>
        </select>
      </div>
    </div>

    <div class="mb-3 mx-auto">
      <button type="reset" class="btn btn-info">
        Reset
      </button>
    </div>
    <div  class="mb-3 mx-auto">
      <button class="btn btn-primary" [disabled]="FormExercice.invalid">
        Enregistrer
      </button>
    </div>
  </form>
</div>
